[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
seaborn = "*"
majka = "*"
notebook = "*"
numpy = "*"
pandas = "*"
nltk = "*"
jupyter = "*"
stop-words = "*"

[requires]
python_version = "3.8"
